<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= pageTitle %></title>
  <meta name="theme-color" content="#222" />
  <meta name="description" content="<%= description %>">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/logo" />
  <link rel="apple-touch-icon" sizes="180x180" href="/logo" />
  <link rel="icon" type="image/png" sizes="32x32" href="/logo" />
  <link rel="icon" type="image/png" sizes="16x16" href="/logo" />
  
  <meta property="og:url" content="<%= dominio %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= pageTitle %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= dominio %>/logo">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="<%= dominio.slice(8) %>">
  <meta property="twitter:url" content="<%= dominio %>">
  <meta name="twitter:title" content="<%= pageTitle %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= dominio %>/logo">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background-color: <%= fondo %>;">
   <nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/banner" style="width: 120px;">
        <!--
        <i class="bi bi-grid-3x3-gap me-2"></i><%= pageTitle %>
        -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/"><i class="bi bi-house-door me-1"></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/matches"><i class="bi bi-joystick me-1"></i> Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right me-1"></i> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>